<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:s="http://java.sun.com/jsf/composite/saip">
<ui:composition template="/index.xhtml">
	<ui:define name="divMain">

		<h:form id="dados" prependId="false">
			<p:dataTable id="tabela" value="#{cadaverBean.lista}" var="cadaver"
				filteredValue="#{cadaverBean.filtro}"
				emptyMessage="Não h&aacute; registros." draggableColumns="false"
				paginator="true" rows="10"
				currentPageReportTemplate="({currentPage} de {totalPages})"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

				<f:facet name="header">
					<h:outputText value="" />

					<table>
						<tr>
							<td width="100%"><h:outputText value="Cad&aacute;ver" /></td>
							<td width="150px"><p:outputPanel>
									<p:commandButton icon="ui-icon-circle-plus" value="Novo"
										actionListener="#{cadaverBean.prepararAdicionar}"
										update=":dialog" oncomplete="dialogTela.show()" />
								</p:outputPanel></td>
						</tr>
					</table>
				</f:facet>

				<p:column style="width: 100px;" filterBy="#{cadaver.numero}">
					<f:facet name="header">
						<h:outputText value="N&uacute;mero" />
					</f:facet>
					<h:outputText value="#{cadaver.numero}" />
				</p:column>

				<p:column filterBy="#{cadaver.nome}" filterMatchMode="contains"
					filterStyle="width: 440px;">
					<f:facet name="header">
						<h:outputText value="Nome" />
					</f:facet>
					<h:outputText value="#{cadaver.nome}" />
				</p:column>

				<p:column style="width: 20px;" filterBy="#{cadaver.sexo.label}"
					filterOptions="#{constantesBean.nomesSexos}">
					<f:facet name="header">
						<h:outputText value="Sexo" />
					</f:facet>
					<h:outputText value="#{cadaver.sexo.label}" />
				</p:column>

				<p:column
					style="width: 150px; margin-left: auto; margin-right: auto;">
					<f:facet name="header">
						<h:outputText value="Op&ccedil;&otilde;es" />
					</f:facet>
					<p:splitButton action="#{cadaverBean.prepararAlterar}"
						value="Alterar" update=":dialog" oncomplete="dialogTela.show()"
						icon="ui-icon-pencil">
						<f:setPropertyActionListener value="#{cadaver}"
							target="#{cadaverBean.objeto}" />
						<p:menuitem action="#{cadaverBean.excluir}" update=":dados:tabela"
							value="Excluir" icon="ui-icon-circle-minus">
							<f:setPropertyActionListener value="#{cadaver}"
								target="#{cadaverBean.objeto}" />
						</p:menuitem>
						<p:menuitem oncomplete="dlgFotos.show()" update=":dialogFotos"
							value="Fotos" icon="ui-icon-image">
							<f:setPropertyActionListener value="#{cadaver}"
								target="#{cadaverBean.objeto}" />
						</p:menuitem>
					</p:splitButton>
				</p:column>
			</p:dataTable>
		</h:form>

		<p:dialog header="Gerenciar Cad&aacute;ver" widgetVar="dialogTela"
			resizable="false" modal="true" width="550">
			<h:form id="dialog" prependId="false">
				<p:tabView id="tabView" effect="slide" effectDuration="normal"
					activeIndex="#{cadaverBean.tabIndex}">
					<p:tab title="Informa&ccedil;&otilde;es 1">
						<h:panelGrid columns="2" style="margin-bottom:10px" id="infos1">
							<p:outputLabel value="Indigente:" for="indigente" />
							<p:selectBooleanButton id="indigente"
								value="#{cadaverBean.objeto.indigente}" offLabel="N&atilde;o"
								onLabel="Sim" onIcon="ui-icon-check" offIcon="ui-icon-close"
								rendered="#{not empty cadaverBean.objeto}" >
								<p:ajax update="tabView" />
							</p:selectBooleanButton>
							<p:outputLabel
								value="N&uacute;mero de Identifica&ccedil;&atilde;o:"
								for="numero" />
							<pe:inputNumber id="numero" value="#{cadaverBean.objeto.numero}"
								decimalPlaces="0" thousandSeparator="." decimalSeparator=","
								required="true" />
							<p:outputLabel value="Sexo:" for="sexo" />
							<p:selectOneMenu id="sexo" value="#{cadaverBean.sexo}">
								<f:selectItems value="#{constantesBean.sexos}" var="s"
									itemLabel="#{s.label}" itemValue="#{s}" />
							</p:selectOneMenu>
							<p:outputLabel value="Data Acidente:" for="dtAcidente" />
							<p:calendar locale="pt_BR" pattern="dd/MM/yyyy"
								showButtonPanel="true" navigator="true" id="dtAcidente"
								value="#{cadaverBean.objeto.dataAcidente}" />
							<p:outputLabel value="Data Localiza&ccedil;&atilde;o:"
								for="dtLocalizacao" />
							<p:calendar locale="pt_BR" pattern="dd/MM/yyyy"
								showButtonPanel="true" navigator="true" id="dtLocalizacao"
								value="#{cadaverBean.objeto.dataLocalizacao}" required="true" />
							<p:outputLabel value="Data &Oacute;bito:" for="dtObito" />
							<p:calendar locale="pt_BR" pattern="dd/MM/yyyy"
								showButtonPanel="true" navigator="true" id="dtObito"
								value="#{cadaverBean.objeto.dataObito}" />
						</h:panelGrid>
					</p:tab>
					<p:tab title="Informa&ccedil;&otilde;es 2">
						<h:panelGrid columns="2" style="margin-bottom:10px" id="infos2">
							<p:outputLabel value="Local Acidente:" for="localAcidente" />
							<p:inputText id="localAcidente"
								value="#{cadaverBean.objeto.localAcidente}" />
							<p:outputLabel value="Tipo Acidente:" for="tpAcidente" />
							<p:inputText id="tpAcidente"
								value="#{cadaverBean.objeto.tipoAcidente}" />
							<p:outputLabel value="Achados Adicionais:"
								for="achadosAdicionais" />
							<p:inputText id="achadosAdicionais"
								value="#{cadaverBean.objeto.achadosAdicionais}" />
							<p:outputLabel value="Descri&ccedil;&atilde;o Espec&iacute;fica:"
								for="descEspecifica" />
							<p:inputText id="descEspecifica"
								value="#{cadaverBean.objeto.descricaoEspecifica}" />
							<p:outputLabel value="Exames Adicionais:" for="examesAdicionais" />
							<p:inputText id="examesAdicionais"
								value="#{cadaverBean.objeto.examesAdicionais}" />
							<p:outputLabel value="Idade Estimada:" for="idadeEstimada" />
							<pe:inputNumber id="idadeEstimada"
								value="#{cadaverBean.objeto.idadeEstimada}" decimalPlaces="0"
								thousandSeparator="." decimalSeparator="," />
							<p:outputLabel value="M&eacute;todo:" for="metodo" />
							<p:inputText id="metodo" value="#{cadaverBean.objeto.metodo}" />
						</h:panelGrid>
					</p:tab>
					<p:tab title="Identifica&ccedil;&atilde;o"
						disabled="#{empty cadaverBean.objeto ? true : cadaverBean.objeto.indigente}">
						<h:panelGrid columns="2" style="margin-bottom:10px" id="infos3">
							<p:outputLabel value="Nome:" for="nome" />
							<p:inputText id="nome" value="#{cadaverBean.objeto.nome}"
								title="Nome" required="#{not cadaverBean.objeto.indigente}" />
							<h:outputText value="CPF:" for="cpf" />
							<s:inputCPF value="#{cadaverBean.objeto.CPF}" />
							<p:outputLabel value="RG:" for="rg" />
							<p:inputText id="rg" value="#{cadaverBean.objeto.RG}" title="RG" />
							<p:outputLabel value="Emissor:" for="emissor" />
							<p:inputText id="emissor" value="#{cadaverBean.objeto.emissor}"
								title="Emissor" />
							<p:outputLabel value="Data de Nascimento:" for="dtNasc" />
							<p:calendar locale="pt_BR" pattern="dd/MM/yyyy"
								showButtonPanel="true" navigator="true" id="dtNasc"
								value="#{cadaverBean.objeto.dataNascimento}" yearRange="c-100:c" />
						</h:panelGrid>
					</p:tab>
					<p:tab title="Endere&ccedil;o"
						disabled="#{empty cadaverBean.objeto ? true : cadaverBean.objeto.indigente}">
						<h:panelGrid columns="2" style="margin-bottom:10px" id="infos4">
							<p:outputLabel value="Estado:" for="estado" />
							<p:selectOneMenu id="estado" value="#{cadaverBean.estado}">
								<f:selectItem itemLabel="Selecione um" itemValue="0"
									itemDisabled="true" noSelectionOption="false" />
								<f:selectItems value="#{cadaverBean.estados}" var="e"
									itemLabel="#{e.sigla} - #{e.nome}" itemValue="#{e.id}" />
							</p:selectOneMenu>
							<p:outputLabel value="Cidade:" for="cidade" />
							<p:inputText id="cidade" value="#{cadaverBean.objeto.cidade}"
								title="Cidade" />
							<p:outputLabel value="Bairro:" for="bairro" />
							<p:inputText id="bairro" value="#{cadaverBean.objeto.bairro}"
								title="Bairro" />
							<p:outputLabel value="Logradouro:" for="logradouro" />
							<p:inputText id="logradouro"
								value="#{cadaverBean.objeto.logradouro}" title="Logradouro" />
							<p:outputLabel value="N&uacute;mero" for="numeroCasa" />
							<pe:inputNumber id="numeroCasa"
								value="#{cadaverBean.objeto.numeroCasa}" title="N&uacute;mero"
								decimalPlaces="0" thousandSeparator="." decimalSeparator="," />
							<p:outputLabel value="Complemento:" for="complemento" />
							<p:inputText id="complemento"
								value="#{cadaverBean.objeto.complemento}" title="Complemento" />
						</h:panelGrid>
					</p:tab>
				</p:tabView>
				<p:commandButton id="confirmar" update=":dados:tabela"
					oncomplete="if(!args.validationFailed) dialogTela.hide();"
					actionListener="#{cadaverBean.confirmar}"
					value='#{cadaverBean.novo ? "Inserir" : "Alterar"}'
					icon="ui-icon-disk" immediate="false" />
			</h:form>
		</p:dialog>

		<p:dialog header="Fotos" widgetVar="dlgFotos" resizable="false"
			modal="true" width="650">
			<h:form id="dialogFotos" prependId="false">
				<p:dataTable id="fotos" value="#{cadaverBean.fotos}" var="foto"
					emptyMessage="Nenhuma foto" paginator="true" rows="5"
					currentPageReportTemplate="({currentPage} de {totalPages})"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

					<f:facet name="header">
						<table>
							<tr>
								<td width="100%"><h:outputText value="&nbsp;" /></td>
								<td width="150px"><p:outputPanel>
										<p:commandButton update=":dialogAddFoto"
											action="#{fotoBean.prepararAlterar()}"
											oncomplete="dlgAddFoto.show()" value="Adicionar"
											icon="ui-icon-circle-plus" />
									</p:outputPanel></td>
							</tr>
						</table>
					</f:facet>

					<p:column filterBy="#{foto.descricao}" filterMatchMode="contains">
						<f:facet name="header">
							<h:outputText value="Descri&ccedil;&atilde;o" />
						</f:facet>
						<h:outputText value="#{foto.descricao}" />
					</p:column>

					<p:column
						style="width: 200px; margin-left: auto; margin-right: auto;">
						<f:facet name="header">
							<h:outputText value="Op&ccedil;&otilde;es" />
						</f:facet>
						<p:splitButton value="Ver" update=":dialogVerFoto"
							oncomplete="dlgVerFoto.show()" icon="ui-icon-search">
							<f:setPropertyActionListener value="#{foto}"
								target="#{cadaverBean.foto}" />
							<p:menuitem action="#{cadaverBean.excluirFoto}"
								update=":dialogFotos:fotos" value="Excluir"
								icon="ui-icon-circle-minus">
								<f:setPropertyActionListener value="#{foto}"
									target="#{cadaverBean.foto}" />
							</p:menuitem>
						</p:splitButton>
					</p:column>
				</p:dataTable>
			</h:form>
		</p:dialog>

		<p:dialog header="Ver Foto" widgetVar="dlgVerFoto" resizable="false"
			modal="true" width="500">
			<h:form id="dialogVerFoto" style="width: 100%; text-align: center;">
				<p:graphicImage value="#{fotoBean.getImagem(cadaverBean.foto)}"
					title="#{cadaverBean.foto.descricao}"
					style="max-width: 400px; max-heigh: 400px;"
					rendered="#{not empty cadaverBean.foto}" />
			</h:form>
		</p:dialog>

		<p:dialog header="Adicionar Foto" widgetVar="dlgAddFoto"
			resizable="false" modal="true" width="500">
			<h:form id="dialogAddFoto" enctype="multipart/form-data">
				<h:panelGrid columns="2">
					<p:outputLabel for="addfoto" value="Escolha uma foto" />
					<p:fileUpload fileUploadListener="#{fotoBean.processFileUpload}"
						label="Escolher" cancelLabel="Cancelar" auto="true"
						mode="advanced"
						invalidFileMessage="Tipo de imagem n&atilde;o suportado"
						multiple="false" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
						id="addfoto" required="true" />

					<p:outputLabel value="Descri&ccedil;&atilde;o: "
						for="descricaoFoto" />
					<p:inputText value="#{fotoBean.foto.descricao}" required="true"
						id="descricaoFoto" />
				</h:panelGrid>

				<p:commandButton value="Adicionar" icon="ui-icon-plus"
					oncomplete="dlgAddFoto.close()"
					action="#{cadaverBean.adicionaFoto()}" update=":dialogFotos:fotos"
					ajax="false" />
			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>
</html>