html {
    height: 100%;
}

body {
    background-image: url(#{resource['images:background.jpg']});
    background-position: -25px -25px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: 1500px 1000px;
    -moz-background-size: 1500px 1000px;
    -o-background-size: 1500px 1000px;
    background-size: 1500px 1000px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 0px;
    height: 100%;
    overflow: auto;
    font-family: verdana;
}

#conteudo {
	width: 1000px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#divTop {
	width: 1000px;
	height: 120px;
	color: #0e428b;
	background-repeat: no-repeat;
	background-position: top left;
	-webkit-background-size: 100px 100px;
	-moz-background-size: 100px 100px;
	-o-background-size: 100px 100px;
	background-size: 100px 100px;
	padding-left: 110px;
	background-image: url(#{resource['images:logo.jpg']});
}
#topMessage {
	text-shadow: 0.15em 0.15em 0.4em #999;
	padding-top: -50px;
	vertical-align: top;
	height: 50px;
}

#topMessage h1 {
	margin-top: 3px;
	vertical-align: top;
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#menuUsuario {
	margin-right: 50px;
	margin-top: 20px;
	text-align: right;
	font-weight: bolder;
}

#divMain {
	width: 1000px;
	height: 100%;
	display: block;
	overflow: auto;
	vertical-align: top;
	margin-top: 0px;
}

#rodape {
	width: 100%;
	height: 50px;
}

.logo_fundo {
	background-position: -25 -25;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-image: url(#{resource['images:bkg_login.jpg']});
}
.ui-widget,.ui-widget .ui-widget {
	font-size: 90% !important;
}