<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:saip="http://java.sun.com/jsf/composite/saip">
<ui:composition template="/index.xhtml">
	<ui:define name="divMain">

		<h:form id="dados" prependId="false">
			<p:dataTable id="tabela" value="#{identificacaoBean.lista}"
				filteredValue="#{identificacaoBean.filtro}" var="pessoa"
				emptyMessage="Não h&aacute; registros." draggableColumns="false"
				paginator="true" rows="10"
				currentPageReportTemplate="({currentPage} de {totalPages})"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

				<f:facet name="header">
					<h:outputText value="Identifica&ccedil;&atilde;o" />
				</f:facet>

				<p:column filterBy="#{pessoa.numero}" style="width: 100px;">
					<f:facet name="header">
						<h:outputText value="N&uacute;mero" />
					</f:facet>
					<h:outputText value="#{pessoa.numero}" />
				</p:column>

				<p:column filterBy="#{pessoa.nome}" filterStyle="width: 90%;">
					<f:facet name="header">
						<h:outputText value="Nome" />
					</f:facet>
					<h:outputText value="#{pessoa.nome}" />
				</p:column>

				<p:column style="width: 100px;" filterBy="#{pessoa.sexo.label}"
					filterOptions="#{constantesBean.nomesSexos}">
					<f:facet name="header">
						<h:outputText value="Sexo" />
					</f:facet>
					<h:outputText value="#{pessoa.sexo.label}" />
				</p:column>

				<p:column
					style="width: 150px; margin-left: auto; margin-right: auto;">
					<f:facet name="header">
						<h:outputText value="Op&ccedil;&otilde;es" />
					</f:facet>
					<p:commandButton oncomplete="dialogTela.show()"
						value="Localizar..." update=":dialog" ajax="true"
						icon="ui-icon-search">
						<f:setPropertyActionListener value="#{pessoa}"
							target="#{identificacaoBean.pessoa}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>

		<p:dialog header="Identificar Pessoa" widgetVar="dialogTela"
			resizable="false" modal="true" width="650" >
			<h:form id="dialog" prependId="false">
				<p:dataTable id="encontrados" filteredValue="#{identificacaoBean.filtro}"
					value="#{identificacaoBean.listaPossiveis}" var="possivel"
					emptyMessage="Nenhuma poss&iacute;vel identifica&ccedil;&atilde;o"
					paginator="true" rows="5"
					currentPageReportTemplate="({currentPage} de {totalPages})"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">
					<p:column style="width:10px" filterBy="#{possivel.numero}">
						<f:facet name="header">
							<h:outputText value="N&uacute;mero" />
						</f:facet>
						<h:outputText value="#{possivel.numero}" />
					</p:column>

					<p:column style="width:20px" filterBy="#{possivel.sexo.label}"
						filterOptions="#{constantesBean.nomesSexos}">
						<f:facet name="header">
							<h:outputText value="Sexo" />
						</f:facet>
						<h:outputText value="#{possivel.sexo.label}" />
					</p:column>

					<p:column rendered="#{not empty identificacaoBean.pessoa}">
						<f:facet name="header">
							<h:outputText value="Compatibilidade" />
						</f:facet>
						<p:progressBar labelTemplate="{value}%" displayOnly="true"
							value="#{identificacaoBean.pessoa.comparaPorOdontograma(possivel)}" />
					</p:column>

					<p:column
						style="width: 200px; margin-left: auto; margin-right: auto;">
						<f:facet name="header">
							<h:outputText value="Op&ccedil;&otilde;es" />
						</f:facet>
						<p:commandButton value="Detalhes..." ajax="false"
							immediate="false" action="compara.xhtml" icon="ui-icon-zoomin">
							<f:setPropertyActionListener value="#{possivel}"
								target="#{identificacaoBean.possivel}" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>
</html>