<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition template="/index.xhtml">
	<ui:define name="divMain">

		<h:form id="dados" prependId="false">
			<p:dataTable id="tabela" value="#{caracteristicaBean.lista}"
				filteredValue="#{caracteristicaBean.filtro}" var="caracteristica"
				emptyMessage="Não h&aacute; registros." draggableColumns="false"
				paginator="true" rows="10"
				currentPageReportTemplate="({currentPage} de {totalPages})"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

				<f:facet name="header">
					<table>
						<tr>
							<td width="100%"><h:outputText value="Caracter&iacute;stica" />
							</td>
							<td width="150px"><p:outputPanel>
									<p:commandButton icon="ui-icon-circle-plus" value="Novo"
										actionListener="#{caracteristicaBean.prepararAdicionar}"
										update=":dialog" oncomplete="dialogTela.show()" />
								</p:outputPanel></td>
						</tr>
					</table>
				</f:facet>
				<p:column filterBy="#{caracteristica.descricao}"
					filterMatchMode="contains" filterStyle="width: 90%;">
					<f:facet name="header">
						<h:outputText value="Descri&ccedil;&atilde;o" />
					</f:facet>
					<h:outputText value="#{caracteristica.descricao}" />
				</p:column>
				<p:column
					style="width: 150px; margin-left: auto; margin-right: auto;">
					<f:facet name="header">
						<h:outputText value="Op&ccedil;&otilde;es" />
					</f:facet>
					<p:splitButton action="#{caracteristicaBean.prepararAlterar}"
						value="Alterar" update=":dialog" oncomplete="dialogTela.show();"
						icon="ui-icon-pencil">
						<f:setPropertyActionListener value="#{caracteristica}"
							target="#{caracteristicaBean.objeto}" />
						<p:menuitem action="#{caracteristicaBean.excluir}"
							update=":dados:tabela" value="Excluir"
							icon="ui-icon-circle-minus">
							<f:setPropertyActionListener value="#{caracteristica}"
								target="#{caracteristicaBean.objeto}" />
						</p:menuitem>
					</p:splitButton>
				</p:column>
			</p:dataTable>
		</h:form>

		<p:dialog header="Gerenciar Caracter&iacute;stica"
			widgetVar="dialogTela" resizable="true" modal="true" width="300">
			<h:form id="dialog" prependId="false">
				<h:panelGrid id="infos" columns="2" style="margin-bottom:10px">
					<p:outputLabel value="Descri&ccedil;&atilde;o:" for="descricao" />
					<p:inputText id="descricao"
						value="#{caracteristicaBean.objeto.descricao}"
						title="Descri&ccedil;&atilde;o" maxlength="255" required="true">
						<f:validateLength maximum="255" />
					</p:inputText>
				</h:panelGrid>
				<p:commandButton id="confirmar" update=":dialog, :dados:tabela"
					oncomplete="if(!args.validationFailed) dialogTela.hide();"
					actionListener="#{caracteristicaBean.confirmar}"
					value='#{caracteristicaBean.novo ? "Inserir" : "Alterar"}'
					icon="ui-icon-disk" />
			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>
</html>