<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition template="/index.xhtml">
	<ui:define name="divMain">

		<h:form id="dados" prependId="false">
			<p:dataTable id="tabela" value="#{usuarioBean.lista}" var="usuario"
				filteredValue="#{usuarioBean.filtro}"
				emptyMessage="Não h&aacute; registros." draggableColumns="false"
				paginator="true" rows="10"
				currentPageReportTemplate="({currentPage} de {totalPages})"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

				<f:facet name="header">
					<table>
						<tr>
							<td width="100%">
								<h:outputText value="Usu&aacute;rio" />
							</td>
							<td width="150px">
								<p:outputPanel>
									<p:commandButton icon="ui-icon-circle-plus" value="Novo"
										actionListener="#{usuarioBean.prepararAdicionar}"
										update=":dialog" oncomplete="dialogTela.show()" />
								</p:outputPanel>
							</td>
						</tr>
					</table>
				</f:facet>

				<p:column style="width:10px" filterMatchMode="contains"
					filterBy="#{usuario.email}">
					<f:facet name="header">
						<h:outputText value="E-Mail" />
					</f:facet>
					<h:outputText value="#{usuario.email}" />
				</p:column>
				<p:column style="width:10px" filterMatchMode="contains"
					filterBy="#{usuario.username}">
					<f:facet name="header">
						<h:outputText value="Usu&aacute;rio" />
					</f:facet>
					<h:outputText value="#{usuario.username}" />
				</p:column>
				<p:column filterMatchMode="contains" filterBy="#{usuario.nome}"
					sortBy="#{usuario.nome}">
					<f:facet name="header">
						<h:outputText value="Nome" />
					</f:facet>
					<h:outputText value="#{usuario.nome}" />
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="IML" />
					</f:facet>
					<h:outputText
						value="#{usuario.iml.estado.sigla} - #{usuario.iml.cidade} - #{usuario.iml.bairro}" />
				</p:column>
				<p:column filterBy="#{usuario.tipoUsuario}"
					filterOptions="#{constantesBean.nomesTiposUsuario}">
					<f:facet name="header">
						<h:outputText value="Tipo" />
					</f:facet>
					<h:outputText value="#{usuario.tipoUsuario.label}" />
				</p:column>
				<p:column
					style="width: 150px; margin-left: auto; margin-right: auto;">
					<f:facet name="header">
						<h:outputText value="Op&ccedil;&otilde;es" />
					</f:facet>
					<p:commandButton action="#{usuarioBean.prepararAlterar}"
						value="Alterar" update=":dialog" oncomplete="dialogTela.show()"
						icon="ui-icon-pencil">
						<f:setPropertyActionListener value="#{usuario}"
							target="#{usuarioBean.objeto}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>

		<p:dialog header="Gerenciar Usu&aacute;rio" widgetVar="dialogTela"
			resizable="false" modal="true" width="500">
			<h:form id="dialog" prependId="false">
				<p:tabView effect="slide" effectDuration="normal" id="tabView"
					widgetVar="tabViewUsuario" activeIndex="#{usuarioBean.tabIndex}">
					<p:tab title="Usu&aacute;rio">
						<h:panelGrid id="infos1" columns="2" style="margin-bottom:10px">
							<p:outputLabel value="Tipo Usu&aacute;rio:" for="tipoUsr" />
							<p:selectOneMenu id="tipoUsr" value="#{usuarioBean.tipoUsuario}"
								required="true">
								<f:selectItems value="#{constantesBean.tiposUsuario}" var="tipo"
									itemLabel="#{tipo.label}" itemValue="#{tipo}" />
								<p:ajax update="tabView"
									listener="#{usuarioBean.mudaTipoUsuario}" />
							</p:selectOneMenu>
							<p:outputLabel value="Usu&aacute;rio:" for="usuario" />
							<p:inputText id="usuario" value="#{usuarioBean.objeto.username}"
								title="Usu&aacute;rio" required="true" />
							<p:outputLabel value="E-Mail:" for="email" />
							<p:inputText id="email" value="#{usuarioBean.objeto.email}"
								title="E-Mail" required="true">
								<f:validator validatorId="EmailValidator" />
							</p:inputText>
							<p:outputLabel value="Nome:" for="nome" />
							<p:inputText id="nome" value="#{usuarioBean.objeto.nome}"
								title="Nome" required="true" />
							<p:outputLabel value="Senha:" for="senha"
								rendered="#{usuarioBean.novo}" />
							<p:password id="senha" match="senha2"
								value="#{usuarioBean.objeto.senha}" title="Senha" minLength="6"
								rendered="#{usuarioBean.novo}" maxlength="10" required="true" />
							<p:outputLabel value="Repita a Senha:" for="senha2"
								rendered="#{usuarioBean.novo}" />
							<p:password id="senha2" value="#{usuarioBean.objeto.senha}"
								title=" Repita a Senha" rendered="#{usuarioBean.novo}"
								required="true" />
							<p:outputLabel value="IML:" for="iml" />
							<p:selectOneMenu id="iml" value="#{usuarioBean.iml}">
								<f:selectItems value="#{usuarioBean.imls}" var="i"
									itemLabel="#{i.estado.sigla} - #{i.cidade} - #{i.bairro}"
									itemValue="#{i.id}" />
							</p:selectOneMenu>
						</h:panelGrid>
					</p:tab>
					<p:tab title="Dentista" disabled="#{not usuarioBean.tipoDentista}">
						<h:panelGrid id="infos2" columns="2" style="margin-bottom:10px">
							<p:outputLabel value="Registro no CFO:" for="cfo" />
							<p:inputText id="cfo" value="#{usuarioBean.CFO}" title="CFO"
								required="#{usuarioBean.tipoDentista}" />
						</h:panelGrid>
					</p:tab>
				</p:tabView>
				<p:commandButton id="confirmar" update=":dados:tabela"
					oncomplete="if(!args.validationFailed) dialogTela.hide();"
					actionListener="#{usuarioBean.confirmar}"
					value='#{usuarioBean.novo ? "Inserir" : "Alterar"}'
					icon="ui-icon-disk" />
			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>
</html>