<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition template="/index.xhtml">
	<ui:define name="divMain">

		<h:form id="dados" prependId="false">
			<p:dataTable id="tabela" value="#{estadoBean.lista}" var="estado"
				emptyMessage="Não h&aacute; registros." draggableColumns="false"
				paginator="true" rows="10"
				currentPageReportTemplate="({currentPage} de {totalPages})"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

				<f:facet name="header">
					<table>
						<tr>
							<td width="100%"><h:outputText value="Estado" /></td>
							<td width="150px"><p:outputPanel>
									<p:commandButton icon="ui-icon-circle-plus" value="Novo"
										actionListener="#{estadoBean.prepararAdicionar}"
										update=":dialog" oncomplete="dialogTela.show()" />
								</p:outputPanel></td>
						</tr>
					</table>
				</f:facet>

				<p:column style="width:10px">
					<f:facet name="header">
						<h:outputText value="Sigla" />
					</f:facet>
					<h:outputText value="#{estado.sigla}" />
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Nome" />
					</f:facet>
					<h:outputText value="#{estado.nome}" />
				</p:column>
				<p:column
					style="width: 150px; margin-left: auto; margin-right: auto;">
					<f:facet name="header">
						<h:outputText value="Op&ccedil;&otilde;es" />
					</f:facet>
					<p:splitButton action="#{estadoBean.prepararAlterar}"
						value="Alterar" update=":dialog" oncomplete="dialogTela.show()"
						icon="ui-icon-pencil">
						<f:setPropertyActionListener value="#{estado}"
							target="#{estadoBean.objeto}" />
						<p:menuitem action="#{estadoBean.excluir}" update=":dados:tabela"
							value="Excluir" icon="ui-icon-circle-minus">
							<f:setPropertyActionListener value="#{estado}"
								target="#{estadoBean.objeto}" />
						</p:menuitem>
					</p:splitButton>
				</p:column>
			</p:dataTable>
		</h:form>

		<p:dialog header="Gerenciar Estado" widgetVar="dialogTela"
			resizable="false" modal="true" width="300">
			<h:form id="dialog" prependId="false">
				<h:panelGrid id="infos" columns="2" style="margin-bottom:10px">
					<p:outputLabel value="Sigla:" for="sigla" />
					<p:inputText id="sigla" value="#{estadoBean.objeto.sigla}"
						title="Sigla" />
					<p:outputLabel value="Nome:" for="nome" />
					<p:inputText id="nome" value="#{estadoBean.objeto.nome}"
						title="Nome" />
				</h:panelGrid>
				<p:commandButton id="confirmar" update=":dados:tabela"
					oncomplete="if(!args.validationFailed) dialogTela.hide();"
					actionListener="#{estadoBean.confirmar}"
					value='#{estadoBean.novo ? "Inserir" : "Alterar"}'
					icon="ui-icon-disk" />
			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>
</html>