<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions">
<ui:composition template="/index.xhtml">
	<ui:define name="divMain">

		<h:form id="dados" prependId="false">
			<p:dataTable id="tabela" value="#{IMLBean.lista}" var="IML"
				filteredValue="#{IMLBean.filtro}"
				emptyMessage="Não h&aacute; registros." draggableColumns="false"
				paginator="true" rows="10"
				currentPageReportTemplate="({currentPage} de {totalPages})"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

				<f:facet name="header">
					<table>
						<tr>
							<td width="100%"><h:outputText value="IML" /></td>
							<td width="150px"><p:outputPanel>
									<p:commandButton icon="ui-icon-circle-plus" value="Novo"
										actionListener="#{IMLBean.prepararAdicionar}" update=":dialog"
										oncomplete="dialogTela.show()" />
								</p:outputPanel></td>
						</tr>
					</table>
				</f:facet>

				<p:column style="width:10px;">
					<f:facet name="header">
						<h:outputText value="Estado" />
					</f:facet>
					<h:outputText value="#{IML.estado.sigla}" />
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Cidade" />
					</f:facet>
					<h:outputText value="#{IML.cidade}" />
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Bairro" />
					</f:facet>
					<h:outputText value="#{IML.bairro}" />
				</p:column>
				<p:column
					style="width: 150px; margin-left: auto; margin-right: auto;">
					<f:facet name="header">
						<h:outputText value="Op&ccedil;&otilde;es" />
					</f:facet>
					<p:splitButton action="#{IMLBean.prepararAlterar}" value="Alterar"
						update=":dialog" oncomplete="dialogTela.show()"
						icon="ui-icon-pencil">
						<f:setPropertyActionListener value="#{IML}"
							target="#{IMLBean.objeto}" />
						<p:menuitem action="#{IMLBean.excluir}" update=":dados:tabela"
							value="Excluir" icon="ui-icon-circle-minus">
							<f:setPropertyActionListener value="#{IML}"
								target="#{IMLBean.objeto}" />
						</p:menuitem>
					</p:splitButton>
				</p:column>
			</p:dataTable>
		</h:form>

		<p:dialog header="Gerenciar IML" widgetVar="dialogTela"
			resizable="false" modal="true" width="350">
			<h:form id="dialog" prependId="false">
				<h:panelGrid id="infos" columns="2" style="margin-bottom:10px">
					<p:outputLabel value="Estado:" for="estado" />
					<p:selectOneMenu id="estado" value='#{IMLBean.estado}'>
						<f:selectItem itemLabel="Selecione um" itemValue="0"
							noSelectionOption="false" itemDisabled="true" />
						<f:selectItems value="#{IMLBean.estados}" var="e"
							itemLabel="#{e.sigla} - #{e.nome}" itemValue="#{e.id}" />
					</p:selectOneMenu>
					<p:outputLabel value="Cidade:" for="cidade" />
					<p:inputText id="cidade" value="#{IMLBean.objeto.cidade}"
						title="Cidade" />
					<p:outputLabel value="Bairro:" for="bairro" />
					<p:inputText id="bairro" value="#{IMLBean.objeto.bairro}"
						title="Bairro" />
					<p:outputLabel value="Logradouro:" for="logradouro" />
					<p:inputText id="logradouro" value="#{IMLBean.objeto.logradouro}"
						title="Logradouro" />
					<p:outputLabel value="N&uacute;mero" for="numero" />
					<pe:inputNumber id="numero" value="#{IMLBean.objeto.numeroCasa}"
						title="N&uacute;mero" decimalPlaces="0" thousandSeparator="."
						decimalSeparator="," />
					<p:outputLabel value="Complemento:" for="complemento" />
					<p:inputText id="complemento" value="#{IMLBean.objeto.complemento}"
						title="Complemento" />
				</h:panelGrid>
				<p:commandButton id="confirmar" update=":dados:tabela"
					oncomplete="if(!args.validationFailed) dialogTela.hide();"
					actionListener="#{IMLBean.confirmar}"
					value='#{IMLBean.novo ? "Inserir" : "Alterar"}' icon="ui-icon-disk" />
			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>
</html>