<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:saip="http://java.sun.com/jsf/composite/saip">
<ui:composition template="/index.xhtml">
	<ui:define name="divMain">

		<h:form id="dados" prependId="false">
			<p:dataTable id="tabela" value="#{odontogramaBean.lista}"
				filteredValue="#{odontogramaBean.filtro}" var="pessoa"
				emptyMessage="Não h&aacute; registros." draggableColumns="false"
				paginator="true" rows="10"
				currentPageReportTemplate="({currentPage} de {totalPages})"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

				<f:facet name="header">
					<h:outputText value="Odontograma" />
				</f:facet>

				<p:column filterBy="#{pessoa.numero}">
					<f:facet name="header">
						<h:outputText value="N&uacute;mero" />
					</f:facet>
					<h:outputText value="#{pessoa.numero}" />
				</p:column>

				<p:column filterBy="#{pessoa.nome}" filterStyle="width: 440px;"
					filterMatchMode="contains" sortBy="#{pessoa.nome}">
					<f:facet name="header">
						<h:outputText value="Nome" />
					</f:facet>
					<h:outputText value="#{pessoa.nome}" />
				</p:column>

				<p:column style="width:20px" filterBy="#{pessoa.sexo.label}"
					filterOptions="#{constantesBean.nomesSexos}">
					<f:facet name="header">
						<h:outputText value="Sexo" />
					</f:facet>
					<h:outputText value="#{pessoa.sexo.label}" />
				</p:column>

				<p:column style="width:20px" filterBy="#{pessoa.odontogramaVazio}"
					filterOptions="#{constantesBean.nomesBoolean}">
					<f:facet name="header">
						<h:outputText value="Odontograma" />
					</f:facet>
					<h:outputText value="#{pessoa.odontogramaVazio ? 'N&atilde;o' : 'Sim'}" />
				</p:column>

				<p:column
					style="width: 150px; margin-left: auto; margin-right: auto;">
					<f:facet name="header">
						<h:outputText value="Op&ccedil;&otilde;es" />
					</f:facet>
					<p:commandButton action="#{odontogramaBean.prepararAlterar}"
						value="Odontograma" update=":dialog"
						oncomplete="dialogTela.show()" icon="ui-icon-pencil">
						<f:setPropertyActionListener value="#{pessoa}"
							target="#{odontogramaBean.objeto}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>

		<p:dialog header="Gerenciar Odontograma" widgetVar="dialogTela"
			resizable="false" modal="true" width="430">
			<h:form id="dialog" prependId="false">
				<p:menubar autoDisplay="false">
					<p:submenu label="Ausentes">
						<p:menuitem id="superiores" update=":dialog"
							actionListener="#{odontogramaBean.preencherSuperiores()}"
							value="Superiores" icon="ui-icon-arrowthickstop-1-n" />
						<p:menuitem id="inferiores" update=":dialog"
							actionListener="#{odontogramaBean.preencherInferiores()}"
							value="Inferiores" icon="ui-icon-arrowthickstop-1-s" />
					</p:submenu>
					<p:menuitem id="confirmar" update=":dados:tabela"
						oncomplete="if(!args.validationFailed) dialogTela.hide();"
						actionListener="#{odontogramaBean.confirmar}" value="Confirmar"
						icon="ui-icon-disk" />
				</p:menubar>
				<table border="0" cellpadding="0" cellspacing="0" width="380"
					style="background-color: #fff;">
					<tr>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="28" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="7" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="20" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="9" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="11" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="5" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="12" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="8" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="9" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="5" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="7" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="14" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="10" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="6" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="4" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="6" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="4" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="5" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="2" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="18" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="18" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="6" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="4" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="6" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="6" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="6" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="7" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="5" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="8" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="9" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="4" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="13" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="4" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="17" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="13" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="12" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="18" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="8" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="26" height="1" alt="" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="1" height="1" alt="" /></td>
					</tr>

					<tr>
						<td colspan="1"><saip:dentecc dente="18" width="28"
								height="103" /></td>
						<td colspan="2"><saip:dentecc dente="17" width="27"
								height="103" /></td>
						<td colspan="3"><saip:dentecc dente="16" width="25"
								height="103" /></td>
						<td colspan="2"><saip:dentecc dente="15" width="20"
								height="103" /></td>
						<td colspan="3"><saip:dentecc dente="14" width="21"
								height="103" /></td>
						<td colspan="2"><saip:dentecc dente="13" width="24"
								height="103" /></td>
						<td colspan="3"><saip:dentecc dente="12" width="16"
								height="103" /></td>
						<td colspan="4"><saip:dentecc dente="11" width="29"
								height="103" /></td>
						<td colspan="3"><saip:dentecc dente="21" width="28"
								height="103" /></td>
						<td colspan="3"><saip:dentecc dente="22" width="18"
								height="103" /></td>
						<td colspan="3"><saip:dentecc dente="23" width="20"
								height="103" /></td>
						<td colspan="3"><saip:dentecc dente="24" width="26"
								height="103" /></td>
						<td colspan="2"><saip:dentecc dente="25" width="21"
								height="103" /></td>
						<td colspan="2"><saip:dentecc dente="26" width="25"
								height="103" /></td>
						<td colspan="2"><saip:dentecc dente="27" width="26"
								height="103" /></td>
						<td colspan="1"><saip:dentecc dente="28" width="26"
								height="103" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="1" height="103" alt="" /></td>
					</tr>
					<tr>
						<td rowspan="2" colspan="5">&nbsp;</td>
						<td colspan="4"><saip:dentecc dente="55" width="34"
								height="67" /></td>
						<td colspan="3"><saip:dentecc dente="54" width="26"
								height="67" /></td>
						<td colspan="2"><saip:dentecc dente="53" width="16"
								height="67" /></td>
						<td colspan="3"><saip:dentecc dente="52" width="14"
								height="67" /></td>
						<td colspan="3"><saip:dentecc dente="51" width="25"
								height="67" /></td>
						<td colspan="2"><saip:dentecc dente="61" width="24"
								height="67" /></td>
						<td colspan="3"><saip:dentecc dente="62" width="16"
								height="67" /></td>
						<td colspan="3"><saip:dentecc dente="63" width="18"
								height="67" /></td>
						<td colspan="3"><saip:dentecc dente="64" width="21"
								height="67" /></td>
						<td colspan="3"><saip:dentecc dente="65" width="34"
								height="67" /></td>
						<td rowspan="2" colspan="5">&nbsp;</td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="1" height="67" alt="" /></td>
					</tr>
					<tr>
						<td colspan="4"><saip:dentecc dente="85" width="34"
								height="56" /></td>
						<td colspan="3"><saip:dentecc dente="84" width="26"
								height="56" /></td>
						<td colspan="3"><saip:dentecc dente="83" width="20"
								height="56" /></td>
						<td colspan="3"><saip:dentecc dente="82" width="15"
								height="56" /></td>
						<td colspan="2"><saip:dentecc dente="81" width="20"
								height="56" /></td>
						<td colspan="1"><saip:dentecc dente="71" width="18"
								height="56" /></td>
						<td colspan="3"><saip:dentecc dente="72" width="16"
								height="56" /></td>
						<td colspan="3"><saip:dentecc dente="73" width="19"
								height="56" /></td>
						<td colspan="4"><saip:dentecc dente="74" width="26"
								height="56" /></td>
						<td colspan="3"><saip:dentecc dente="75" width="34"
								height="56" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="1" height="56" alt="" /></td>
					</tr>
					<tr>
						<td colspan="2"><saip:dentecc dente="48" width="35"
								height="108" /></td>
						<td colspan="2"><saip:dentecc dente="47" width="29"
								height="108" /></td>
						<td colspan="3"><saip:dentecc dente="46" width="28"
								height="108" /></td>
						<td colspan="3"><saip:dentecc dente="45" width="22"
								height="108" /></td>
						<td colspan="2"><saip:dentecc dente="44" width="21"
								height="108" /></td>
						<td colspan="3"><saip:dentecc dente="43" width="20"
								height="108" /></td>
						<td colspan="4"><saip:dentecc dente="42" width="17"
								height="108" /></td>
						<td colspan="1"><saip:dentecc dente="41" width="18"
								height="108" /></td>
						<td colspan="1"><saip:dentecc dente="31" width="18"
								height="108" /></td>
						<td colspan="3"><saip:dentecc dente="32" width="16"
								height="108" /></td>
						<td colspan="3"><saip:dentecc dente="33" width="19"
								height="108" /></td>
						<td colspan="3"><saip:dentecc dente="34" width="22"
								height="108" /></td>
						<td colspan="3"><saip:dentecc dente="35" width="21"
								height="108" /></td>
						<td colspan="2"><saip:dentecc dente="36" width="30"
								height="108" /></td>
						<td colspan="2"><saip:dentecc dente="37" width="30"
								height="108" /></td>
						<td colspan="2"><saip:dentecc dente="38" width="34"
								height="108" /></td>
						<td><h:graphicImage url="#{resource['dentes:spacer.gif']}"
								width="1" height="108" alt="" /></td>
					</tr>
				</table>
			</h:form>
		</p:dialog>

		<p:dialog header="Dente" widgetVar="dlgDente" resizable="false"
			modal="true" width="350">
			<h:form id="dialogDente" prependId="false">
				<h:outputText value="Dente #{odontogramaBean.dente}" />
				<p:tabView effect="slide" effectDuration="normal" id="tabView"
					activeIndex="#{odontogramaBean.tabIndex}">
					<p:tab title="Geral">
						<h:panelGrid id="infosDente1" columns="2"
							style="margin-bottom:10px">
							<p:outputLabel value="Ausente:" for="ausente" />
							<p:selectBooleanButton id="ausente"
								value="#{odontogramaBean.ausente}" offLabel="N&atilde;o"
								onLabel="Sim" onIcon="ui-icon-check" offIcon="ui-icon-close">
								<p:ajax update="tabView" />
							</p:selectBooleanButton>
							<p:outputLabel value="Observa&ccedil;&atilde;o:" for="observacao" />
							<p:inputTextarea value="#{odontogramaBean.observacao}"
								id="observacao" />
						</h:panelGrid>
					</p:tab>
					<p:tab title="Faces" disabled="#{odontogramaBean.ausente}">
						<h:panelGrid id="infosDente2" columns="5"
							style="margin-bottom:10px; text-align: center">
							<p:commandButton
								action="#{odontogramaBean.prepararAlterarFace(1)}"
								value="Face 1" update=":dialogFace" oncomplete="dlgFace.show()" />
							<p:commandButton
								action="#{odontogramaBean.prepararAlterarFace(2)}"
								value="Face 2" update=":dialogFace" oncomplete="dlgFace.show()" />
							<p:commandButton
								action="#{odontogramaBean.prepararAlterarFace(3)}"
								value="Face 3" update=":dialogFace" oncomplete="dlgFace.show()" />
							<p:commandButton
								action="#{odontogramaBean.prepararAlterarFace(4)}"
								value="Face 4" update=":dialogFace" oncomplete="dlgFace.show()" />
							<p:commandButton
								action="#{odontogramaBean.prepararAlterarFace(5)}"
								value="Face 5" update=":dialogFace" oncomplete="dlgFace.show()"
								rendered="#{odontogramaBean.temFace5}" />
						</h:panelGrid>
					</p:tab>
				</p:tabView>
				<p:commandButton id="confirmarDente" oncomplete="dlgDente.hide();"
					action="#{odontogramaBean.confirmarDente}" value="Confirmar"
					icon="ui-icon-disk" immediate="false" update=":dialog" />
			</h:form>
		</p:dialog>

		<p:dialog header="Face" widgetVar="dlgFace" resizable="false"
			modal="true" width="500">
			<h:form id="dialogFace" prependId="false">
				<h:outputText
					value="Dente #{odontogramaBean.dente} - Face #{odontogramaBean.face}" />
				<p:pickList id="caracteristicas"
					value="#{odontogramaBean.caracteristicas}" var="carac"
					itemLabel="#{carac.descricao}" itemValue="#{carac}"
					converter="caracteristica" showSourceFilter="true"
					showTargetFilter="true" filterMatchMode="contains">
					<f:facet name="sourceCaption">Dispon&iacute;vel</f:facet>
					<f:facet name="targetCaption">Selecionado</f:facet>
				</p:pickList>
				<p:commandButton id="confirmarFace" oncomplete="dlgFace.hide();"
					actionListener="#{odontogramaBean.confirmarFace}" value="Confirmar"
					icon="ui-icon-disk" />

				<p:commandButton icon="ui-icon-circle-plus"
					value="Inserir Caracter&iacute;stica"
					actionListener="#{caracteristicaBean.prepararAdicionar}"
					update=":dialogCarac" oncomplete="dlgCarac.show()" />
			</h:form>
		</p:dialog>

		<p:dialog header="Inserir Caracter&iacute;stica" widgetVar="dlgCarac"
			resizable="true" modal="true" width="300">
			<h:form id="dialogCarac" prependId="false">
				<h:panelGrid id="infosCarac" columns="2" style="margin-bottom:10px">
					<p:outputLabel value="Descri&ccedil;&atilde;o:" for="descCarac" />
					<p:inputText id="descCarac"
						value="#{caracteristicaBean.objeto.descricao}"
						title="Descri&ccedil;&atilde;o" maxlength="255" required="true">
						<f:validateLength maximum="255" />
					</p:inputText>
				</h:panelGrid>
				<p:commandButton id="confirmCarac" update=":dialogFace"
					oncomplete="if(!args.validationFailed) dlgCarac.hide();"
					actionListener="#{caracteristicaBean.confirmar}" value="Inserir"
					icon="ui-icon-disk" />
			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>
</html>
