<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:s="http://java.sun.com/jsf/composite/saip">

<h:head>
	<title>Arquivo Morto</title>
	<h:outputStylesheet library="css" name="main.css" />
	<h:outputScript name="pf-locale.js" library="js" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</h:head>

<h:body>
	<f:view>
		<p:growl id="messages" showDetail="true" autoUpdate="true"
			globalOnly="false" escape="false" />

		<table id="conteudo">
			<tr>
				<td id="divTop"><ui:insert name="divTop">
						<ui:include src="/top.xhtml" />
					</ui:insert>
				</td>
			</tr>

			<tr>
				<td>
					<h:form>
						<p:commandButton id="retornar" action="index.xhtml"
							value="Retornar" icon="ui-icon-arrowreturnthick-1-w" ajax="false" />
					</h:form>
					
					<p:layout style="min-height: 500px">
						<p:layoutUnit position="west" size="480"
							header="#{identificacaoBean.nomePessoa}" resizable="false"
							closable="false" collapsible="false">
							<h:form>
								<s:cadaver cadaver="#{identificacaoBean.pessoa}"
									desaparecido="#{identificacaoBean.pessoa.encontrado}" />
							</h:form>
						</p:layoutUnit>

						<p:layoutUnit position="center"
							header="#{identificacaoBean.nomePossivel}">
							<h:form>
								<s:desaparecido cadaver="#{identificacaoBean.pessoa}"
									desaparecido="#{identificacaoBean.pessoa.encontrado}" />
							</h:form>
						</p:layoutUnit>
					</p:layout>
				</td>
			</tr>
		</table>

	</f:view>
</h:body>
</html>