<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:s="http://java.sun.com/jsf/composite/saip">
<ui:composition template="/index.xhtml">
	<ui:define name="divMain">

		<h:form id="dados" prependId="false">
			<p:dataTable id="tabela" value="#{desaparecidoBean.lista}"
				filteredValue="#{desaparecidoBean.filtro}" var="desaparecido"
				emptyMessage="Não h&aacute; registros." draggableColumns="false"
				paginator="true" rows="10"
				currentPageReportTemplate="({currentPage} de {totalPages})"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

				<f:facet name="header">
					<table>
						<tr>
							<td width="100%"><h:outputText value="Desaparecido" /></td>
							<td width="150px"><p:outputPanel>
									<p:commandButton icon="ui-icon-circle-plus" value="Novo"
										actionListener="#{desaparecidoBean.prepararAdicionar}"
										update=":dialog" oncomplete="dialogTela.show()" />
								</p:outputPanel></td>
						</tr>
					</table>
				</f:facet>

				<p:column style="width:10px" filterBy="#{desaparecido.numero}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="N&uacute;mero" />
					</f:facet>
					<h:outputText value="#{desaparecido.numero}" />
				</p:column>

				<p:column filterBy="#{desaparecido.nome}"
					filterStyle="width: 440px;" filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="Nome" />
					</f:facet>
					<h:outputText value="#{desaparecido.nome}" />
				</p:column>

				<p:column style="width: 20px;" filterBy="#{desaparecido.status}"
					filterOptions="#{constantesBean.nomesStatus}">
					<f:facet name="header">
						<h:outputText value="Status" />
					</f:facet>
					<h:outputText value="#{desaparecido.status.label}" />
				</p:column>

				<p:column style="width: 20px;" filterBy="#{desaparecido.sexo.label}"
					filterOptions="#{constantesBean.nomesSexos}">
					<f:facet name="header">
						<h:outputText value="Sexo" />
					</f:facet>
					<h:outputText value="#{desaparecido.sexo.label}" />
				</p:column>

				<p:column
					style="width: 150px; margin-left: auto; margin-right: auto;">
					<f:facet name="header">
						<h:outputText value="Op&ccedil;&otilde;es" />
					</f:facet>
					<p:splitButton action="#{desaparecidoBean.prepararAlterar}"
						value="Alterar" update=":dialog" oncomplete="dialogTela.show()"
						icon="ui-icon-pencil">
						<f:setPropertyActionListener value="#{desaparecido}"
							target="#{desaparecidoBean.objeto}" />
						<p:menuitem action="#{desaparecidoBean.excluir}"
							update=":dados:tabela" value="Excluir"
							icon="ui-icon-circle-minus">
							<f:setPropertyActionListener value="#{desaparecido}"
								target="#{desaparecidoBean.objeto}" />
						</p:menuitem>
						<p:menuitem oncomplete="dlgFotos.show()" update=":dialogFotos"
							value="Fotos" icon="ui-icon-image">
							<f:setPropertyActionListener value="#{desaparecido}"
								target="#{desaparecidoBean.objeto}" />
						</p:menuitem>
						<p:menuitem action="#{desaparecidoBean.encontrado}"
							rendered="#{desaparecido.desaparecido}" update=":dados:tabela"
							value="Encontrado" icon="ui-icon-home">
							<f:setPropertyActionListener value="#{desaparecido}"
								target="#{desaparecidoBean.objeto}" />
						</p:menuitem>
					</p:splitButton>
				</p:column>
			</p:dataTable>
		</h:form>

		<p:dialog header="Gerenciar Desaparecido" widgetVar="dialogTela"
			resizable="false" modal="true" width="400">
			<h:form id="dialog" prependId="false">
				<p:tabView effect="slide" effectDuration="normal"
					activeIndex="#{desaparecidoBean.tabIndex}">
					<p:tab title="Identifica&ccedil;&atilde;o">
						<h:panelGrid columns="2" style="margin-bottom:10px" id="infos1">
							<p:outputLabel
								value="N&uacute;mero de Identifica&ccedil;&atilde;o:"
								for="numero" required="true" />
							<pe:inputNumber id="numero"
								value="#{desaparecidoBean.objeto.numero}" decimalPlaces="0"
								thousandSeparator="." decimalSeparator="," required="true" />
							<p:outputLabel value="Sexo:" for="sexo" />
							<p:selectOneMenu id="sexo" value="#{desaparecidoBean.sexo}">
								<f:selectItems value="#{constantesBean.sexos}" var="s"
									itemLabel="#{s.label}" itemValue="#{s}" />
							</p:selectOneMenu>
							<p:outputLabel value="Nome:" for="nome" />
							<p:inputText id="nome" value="#{desaparecidoBean.objeto.nome}"
								title="Nome" required="true" />
							<h:outputText value="CPF:" for="cpf" />
							<s:inputCPF value="#{desaparecidoBean.objeto.CPF}" />
							<p:outputLabel value="RG:" for="rg" />
							<p:inputText id="rg" value="#{desaparecidoBean.objeto.RG}"
								title="RG" />
							<p:outputLabel value="Emissor:" for="emissor" />
							<p:inputText id="emissor"
								value="#{desaparecidoBean.objeto.emissor}" title="Emissor" />
							<p:outputLabel value="Data de Nascimento:" for="dtNasc" />
							<p:calendar locale="pt_BR" pattern="dd/MM/yyyy"
								showButtonPanel="true" navigator="true" id="dtNasc"
								value="#{desaparecidoBean.objeto.dataNascimento}"
								required="true" yearRange="c-100:c" />
						</h:panelGrid>
					</p:tab>
					<p:tab title="Endere&ccedil;o">
						<h:panelGrid columns="2" style="margin-bottom:10px" id="infos2">
							<p:outputLabel value="Estado:" for="estado" required="true" />
							<p:selectOneMenu id="estado" value='#{desaparecidoBean.estado}'
								required="true">
								<f:selectItem itemLabel="Selecione um" itemValue="0"
									itemDisabled="true" noSelectionOption="false" />
								<f:selectItems value="#{desaparecidoBean.estados}" var="e"
									itemLabel="#{e.sigla} - #{e.nome}" itemValue="#{e.id}" />
							</p:selectOneMenu>
							<p:outputLabel value="Cidade:" for="cidade" />
							<p:inputText id="cidade"
								value="#{desaparecidoBean.objeto.cidade}" title="Cidade"
								required="true" />
							<p:outputLabel value="Bairro:" for="bairro" />
							<p:inputText id="bairro"
								value="#{desaparecidoBean.objeto.bairro}" title="Bairro"
								required="true" />
							<p:outputLabel value="Logradouro:" for="logradouro" />
							<p:inputText id="logradouro"
								value="#{desaparecidoBean.objeto.logradouro}" title="Logradouro"
								required="true" />
							<p:outputLabel value="N&uacute;mero" for="numeroCasa" />
							<pe:inputNumber id="numeroCasa"
								value="#{desaparecidoBean.objeto.numeroCasa}"
								title="N&uacute;mero" decimalPlaces="0" thousandSeparator="."
								decimalSeparator="," />
							<p:outputLabel value="Complemento:" for="complemento" />
							<p:inputText id="complemento"
								value="#{desaparecidoBean.objeto.complemento}"
								title="Complemento" />
						</h:panelGrid>
					</p:tab>
					<p:tab title="Outros">
						<h:panelGrid columns="2" style="margin-bottom:10px" id="infos3">
							<p:outputLabel value="Respons&aacute;vel:" for="responsavel" />
							<p:selectOneMenu id="responsavel"
								value='#{desaparecidoBean.responsavel}'>
								<f:selectItem itemLabel="Aguardando Identifica&ccedil;&atilde;o"
									itemValue="0" itemDisabled="false" noSelectionOption="false" />
								<f:selectItems value="#{desaparecidoBean.responsaveis}" var="r"
									itemLabel="#{r.CFO} - #{r.usuario.nome}" itemValue="#{r.id}" />
							</p:selectOneMenu>
							<p:outputLabel value="Data de Desaparecimento:" for="dtDesap" />
							<p:calendar locale="pt_BR" pattern="dd/MM/yyyy"
								showButtonPanel="true" navigator="true" id="dtDesap"
								value="#{desaparecidoBean.objeto.dataDesaparecimento}"
								required="true" />
							<p:outputLabel value="Dados Adicionais:" for="adicionais" />
							<p:inputTextarea id="adicionais"
								value="#{desaparecidoBean.objeto.dadosAdicionais}"
								title="Dados Adicionais" />
							<p:outputLabel value="Dados Espec&iacute;ficos:"
								for="especificos" />
							<p:inputTextarea id="especificos"
								value="#{desaparecidoBean.objeto.dadosEspecificos}"
								title="Dados Espec&iacute;ficos" />
						</h:panelGrid>
					</p:tab>
				</p:tabView>
				<p:commandButton id="confirmar" update=":dados:tabela"
					oncomplete="if(!args.validationFailed) dialogTela.hide();"
					actionListener="#{desaparecidoBean.confirmar}"
					value='#{desaparecidoBean.novo ? "Inserir" : "Alterar"}'
					icon="ui-icon-disk" />
					
				<p:commandButton id="abrirTelefones"
					onclick="dialogListaTelefones.show()" update=":dadosTelefones:tabelaTelefones"
					value="Telefones" icon="ui-icon-note" ajax="true">
					<f:setPropertyActionListener value="#{desaparecidoBean.objeto.telefones}"
						target="#{telefoneBean.telefones}" />
				</p:commandButton>
			</h:form>
		</p:dialog>

		<p:dialog header="Fotos" widgetVar="dlgFotos" resizable="false"
			modal="true" width="650">
			<h:form id="dialogFotos" prependId="false">
				<p:dataTable id="fotos" value="#{desaparecidoBean.fotos}" var="foto"
					emptyMessage="Nenhuma foto" paginator="true" rows="5"
					currentPageReportTemplate="({currentPage} de {totalPages})"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

					<f:facet name="header">
						<table>
							<tr>
								<td width="100%"><h:outputText value="&nbsp;" /></td>
								<td width="150px"><p:outputPanel>
										<p:commandButton update=":dialogAddFoto"
											action="#{fotoBean.prepararAlterar()}"
											oncomplete="dlgAddFoto.show()" value="Adicionar"
											icon="ui-icon-circle-plus" />
									</p:outputPanel></td>
							</tr>
						</table>
					</f:facet>

					<p:column filterBy="#{foto.descricao}" filterMatchMode="contains">
						<f:facet name="header">
							<h:outputText value="Descri&ccedil;&atilde;o" />
						</f:facet>
						<h:outputText value="#{foto.descricao}" />
					</p:column>

					<p:column
						style="width: 200px; margin-left: auto; margin-right: auto;">
						<f:facet name="header">
							<h:outputText value="Op&ccedil;&otilde;es" />
						</f:facet>
						<p:splitButton value="Ver" update=":dialogVerFoto"
							oncomplete="dlgVerFoto.show()" icon="ui-icon-search">
							<f:setPropertyActionListener value="#{foto}"
								target="#{desaparecidoBean.foto}" />
							<p:menuitem action="#{desaparecidoBean.excluirFoto}"
								update=":dialogFotos:fotos" value="Excluir"
								icon="ui-icon-circle-minus">
								<f:setPropertyActionListener value="#{foto}"
									target="#{desaparecidoBean.foto}" />
							</p:menuitem>
						</p:splitButton>
					</p:column>
				</p:dataTable>
			</h:form>
		</p:dialog>

		<p:dialog header="Ver Foto" widgetVar="dlgVerFoto" resizable="false"
			modal="true" width="500">
			<h:form id="dialogVerFoto" style="width: 100%; text-align: center;">
				<p:graphicImage value="#{fotoBean.getImagem(desaparecidoBean.foto)}"
					title="#{desaparecidoBean.foto.descricao}"
					style="max-width: 400px; max-heigh: 400px;"
					rendered="#{not empty desaparecidoBean.foto}" />
			</h:form>
		</p:dialog>

		<p:dialog header="Adicionar Foto" widgetVar="dlgAddFoto"
			resizable="false" modal="true" width="500">
			<h:form id="dialogAddFoto" enctype="multipart/form-data">
				<h:panelGrid columns="2">
					<p:outputLabel for="addfoto" value="Escolha uma foto" />
					<p:fileUpload fileUploadListener="#{fotoBean.processFileUpload}"
						label="Escolher" cancelLabel="Cancelar" auto="true"
						mode="advanced"
						invalidFileMessage="Tipo de imagem n&atilde;o suportado"
						multiple="false" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
						id="addfoto" required="true" />

					<p:outputLabel value="Descri&ccedil;&atilde;o: "
						for="descricaoFoto" />
					<p:inputText value="#{fotoBean.foto.descricao}" required="true"
						id="descricaoFoto" />
				</h:panelGrid>

				<p:commandButton value="Adicionar" icon="ui-icon-plus"
					oncomplete="dlgAddFoto.close()"
					action="#{desaparecidoBean.adicionaFoto()}"
					update=":dialogFotos:fotos" ajax="false" />
			</h:form>
		</p:dialog>
		
		<!-- LISTAGEM DE TELEFONES -->


		<p:dialog header="Telefones" widgetVar="dialogListaTelefones"
			resizable="false" modal="false" width="300" id="dlgListaTelefones">
			<h:form id="dadosTelefones" prependId="false">
				<p:dataTable id="tabelaTelefones" value="#{telefoneBean.lista}"
					var="telefone" emptyMessage="Não h&aacute; registros."
					draggableColumns="false" paginator="true" rows="5"
					currentPageReportTemplate="({currentPage} de {totalPages})"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

					<f:facet name="header">
						<table>
							<tr>
								<td width="100%"><h:outputText value="Telefones" /></td>
								<td width="150px"><p:commandButton
										icon="ui-icon-circle-plus" value="Novo"
										actionListener="#{telefoneBean.prepararAdicionar}"
										update=":dialogTelefones"
										oncomplete="dialogTelaTelefones.show()" /></td>
							</tr>
						</table>
					</f:facet>

					<p:column style="width:10px">
						<f:facet name="header">
							<h:outputText value="DDD" />
						</f:facet>
						<h:outputText value="#{telefone.DDD}" />
					</p:column>

					<p:column style="width: 100px;">
						<f:facet name="header">
							<h:outputText value="Número" />
						</f:facet>
						<h:outputText value="#{telefone.numero}" />
					</p:column>

					<p:column
						style="width: 125px; margin-left: auto; margin-right: auto;">
						<f:facet name="header">
							<h:outputText value="Op&ccedil;&otilde;es" />
						</f:facet>
						<p:splitButton action="#{telefoneBean.prepararAlterar}"
							value="Alterar" update=":dialogTelefones"
							oncomplete="dialogTelaTelefones.show()"
							icon="ui-icon-pencil">
							<f:setPropertyActionListener value="#{telefone}"
								target="#{telefoneBean.objeto}" />
							<p:menuitem action="#{telefoneBean.excluir}"
								update=":dadosTelefones:tabelaTelefones" value="Excluir"
								icon="ui-icon-circle-minus">
								<f:setPropertyActionListener value="#{telefone}"
									target="#{telefoneBean.objeto}" />
							</p:menuitem>
						</p:splitButton>
					</p:column>
				</p:dataTable>
			</h:form>
		</p:dialog>

		<p:dialog header="Gerenciar Telefone" widgetVar="dialogTelaTelefones"
			resizable="false" modal="false" width="300" id="dlgTelaTelefones">
			<h:form id="dialogTelefones">
				<h:panelGrid id="infosTelefones" columns="2"
					style="margin-bottom:10px">
					<p:outputLabel value="DDD:" for="ddd" />
					<p:inputMask id="ddd" value="#{telefoneBean.objeto.DDD}"
						mask="(99)" />
					<p:outputLabel value="Número:" for="numero" />
					<p:inputMask id="numero" value="#{telefoneBean.objeto.numero}"
						mask="99999-9999" />
					<p:outputLabel value="Ramal:" for="ramal" />
					<p:inputText id="ramal" value="#{telefoneBean.objeto.ramal}" />
					<p:outputLabel value="Contato:" for="contato" />
					<p:inputText id="contato" value="#{telefoneBean.objeto.contato}" />
				</h:panelGrid>
				<p:commandButton id="confirmarTelefones" update=":dadosTelefones:tabelaTelefones"
					oncomplete="if(!args.validationFailed) dialogTelaTelefones.hide();"
					actionListener="#{telefoneBean.confirmar}"
					value="Confirmar"
					icon="ui-icon-disk" />
			</h:form>
		</p:dialog>
		
	</ui:define>
</ui:composition>
</html>