<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>SAIP</title>
	<h:outputStylesheet library="css" name="main.css" />
	<h:outputScript name="pf-locale.js" library="js" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</h:head>

<h:body>
	<f:view>
		<p:growl id="messages" showDetail="true" autoUpdate="true"
			globalOnly="false" escape="false" />

		<ui:insert name="divMenu">
			<ui:include src="left.xhtml" />
		</ui:insert>

		<table id="conteudo">
			<tr>
				<td id="divTop"><ui:insert name="divTop">
						<ui:include src="top.xhtml" />
					</ui:insert></td>
			</tr>

			<tr>
				<td id="divMain"><ui:insert name="divMain">
						<div id="logo_fundo"></div>
					</ui:insert></td>
			</tr>

			<tr>
				<td id="rodape">&nbsp;</td>
			</tr>
		</table>

	</f:view>
</h:body>
</html>