<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:body>
	<p:ajaxStatus widgetVar="ajaxStatusPanel" onstart="dlgLoad.show()"
		onsuccess="dlgLoad.hide()" />

	<p:dialog id="loading" widgetVar="dlgLoad" modal="true"
		closable="false" resizable="false" width="150" showHeader="false">
		<h:panelGrid columns="2">
			<h:graphicImage value="#{resource['images:ajaxloading.gif']}" />
			<h:outputText value="Carregando..." />
		</h:panelGrid>
	</p:dialog>

	<p:dialog header="Suporte" widgetVar="dlgSuporte" modal="true"
		resizable="false" width="450" rendered="true">
		<h:form id="frmSuporte" prependId="false">
			<h:panelGrid columns="3">
				<h:outputText value="Administrador do Sistema" />
				<h:outputLink value="mailto:thiagonerys@projetosaip.com.br">Thiago Nerys</h:outputLink>
				<h:outputText value="(21) 7654-5142" />
				<h:outputText value="Administrador IML" />
				<h:outputLink value="mailto:pauloeduardo@projetosaip.com.br">Paulo Eduardo</h:outputLink>
				<h:outputText value="(21) 8675-6635" />
				<h:outputText value="Administrador Dentistas" />
				<h:outputLink value="mailto:j.n.araujo@projetosaip.com.br">J. N. Ara&uacute;jo</h:outputLink>
				<h:outputText value="(21) 9797-9286" />
				<h:outputText value="Manual" />
				<h:outputLink value="#">Clique Aqui</h:outputLink>
			</h:panelGrid>
		</h:form>
	</p:dialog>

	<h:form id="dock" prependId="false">
		<p:dock position="bottom" rendered="#{loginBean.logado}">
			<p:menuitem icon="#{resource['images:skull.png']}"
				rendered="#{loginBean.usrIML}" url="/cadaver"
				value="Cad&aacute;ver" id="menuCadaver" />
			<p:menuitem icon="#{resource['images:tool.png']}"
				rendered="#{loginBean.usrDentista}"
				url="/caracteristica" value="Caracter&iacute;stica" />
			<p:menuitem icon="#{resource['images:miss.png']}"
				rendered="#{loginBean.usrIML}" url="/desaparecido"
				value="Desaparecido" />
			<p:menuitem icon="#{resource['images:tooth.png']}"
				rendered="#{loginBean.usrDentista}" url="/odontograma"
				value="Odontograma" />
			<p:menuitem icon="#{resource['images:search.png']}"
				rendered="#{loginBean.usrLegista}" url="/identificacao"
				value="Identifica&ccedil;&atilde;o" />
			<p:menuitem icon="#{resource['images:card.png']}"
				rendered="#{loginBean.usrLegista}" url="/identificado"
				value="Identificado" />
			<p:menuitem icon="#{resource['images:coffin.png']}"
				rendered="#{loginBean.usrIML or loginBean.usrLegista}" url="/arquivomorto"
				value="Arquivo Morto" />
			<p:menuitem icon="#{resource['images:user.png']}"
				rendered="#{loginBean.usrIML}"
				url="/usuario" value="Usu&aacute;rio" />
			<p:menuitem icon="#{resource['images:iml.png']}"
				rendered="#{loginBean.usrIML}" url="/iml" value="IML" />
			<p:menuitem icon="#{resource['images:state.png']}"
				rendered="#{loginBean.usrIML}" url="/estado"
				value="Estado" />
			<p:menuitem icon="#{resource['images:support.png']}"
				oncomplete="dlgSuporte.show()" value="Suporte" />
		</p:dock>
	</h:form>
</h:body>
</html>