<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>SAIP</title>
	<h:outputStylesheet library="css" name="main.css" />
	<h:outputScript name="pf-locale.js" library="js" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</h:head>

<h:body onload="dlgLogin.show()" class="logo_fundo">
	<f:view>
		<div id="logo_fundo"></div>

		<p:growl id="messages" showDetail="true" autoUpdate="true"
			globalOnly="false" escape="false" />

		<p:dialog header="Entrar" widgetVar="dlgLogin" resizable="false"
			modal="false" width="300" closable="false">
			<h:form id="tela" prependId="true">
				<h:panelGrid id="infos" columns="2" style="margin-bottom:10px">
					<p:outputLabel value="Usu&aacute;rio:" for="usuario" />
					<p:inputText id="usuario" value="#{loginBean.username}"
						title="Usu&aacute;rio" />
					<p:outputLabel value="Senha:" for="senha" />
					<p:password id="senha" value="#{loginBean.senha}" title="senha" />
				</h:panelGrid>
				<p:commandButton id="confirm" action="#{loginBean.logIn}"
					value="Entrar" icon="ui-icon-check" ajax="false" />
				<br />
				<p:commandLink id="esqueci_senha" value="Esqueceu sua senha?"
					ajax="true" oncomplete="dlgSenha.show()" />
			</h:form>
		</p:dialog>

		<p:dialog header="Redefini&ccedil;&atilde;o de Senha"
			resizable="false" id="senha" widgetVar="dlgSenha">
			<h:outputText value="Op&ccedil;&atilde;o em desenvolvimento, aguarde" />
		</p:dialog>

	</f:view>
</h:body>
</html>