<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>
	<div id="topMessage">
		<h1>SAIP - Sistema de Aux&iacute;lio a
			Identifica&ccedil;&atilde;o Pericial</h1>
	</div>

	<div id="menuUsuario">
		<h:form rendered="#{loginBean.logado}">
                Bem vindo, #{loginBean.usuario.nome} 
                <p:splitButton value="Sair"
				action="#{loginBean.logOut()}" ajax="false" style="font-size: 20px;"
				icon="ui-icon-power">
				<p:menuitem value="Alterar" update=":frmSenha"
					oncomplete="dlgSenha.show()" icon="ui-icon-pencil">
				</p:menuitem>
			</p:splitButton>
		</h:form>
	</div>

	<p:dialog header="Alterar Informa&ccedil;&otilde;es Pessoais"
		widgetVar="dlgSenha" resizable="false" modal="true" width="300"
		closable="true">
		<h:form id="frmSenha" prependId="true">
			<h:panelGrid id="infoSenha" columns="2" style="margin-bottom:10px">
				<p:outputLabel value="Usu&aacute;rio:" for="usuario" />
				<p:inputText id="usuario" value="#{loginBean.usuario.username}"
					title="Usu&aacute;rio" />
				<p:outputLabel value="E-Mail:" for="email" />
				<p:inputText id="email" value="#{loginBean.usuario.email}"
					title="E-Mail" />
				<p:outputLabel value="Nome:" for="nome" />
				<p:inputText id="nome" value="#{loginBean.usuario.nome}"
					title="Nome">
					<f:validator validatorId="EmailValidator" />
				</p:inputText>
				<p:outputLabel value="Senha:" for="senha" />
				<p:password id="senha" match="senha2" required="true"
					value="#{loginBean.usuario.senha}" title="Senha" />
				<p:outputLabel value="Repita a Senha:" for="senha2" />
				<p:password id="senha2" value="#{loginBean.usuario.senha}"
					title="Repita a Senha" required="true" />
			</h:panelGrid>
			<p:commandButton id="confirm" action="#{loginBean.alterarUsuario}"
				value="Ok" icon="ui-icon-check" ajax="false" />
		</h:form>
	</p:dialog>
</h:body>
</html>