<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:saip="http://java.sun.com/jsf/composite/saip"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>

	<composite:attribute name="cadaver" type="br.com.saip.model.Cadaver"
		required="true" />

	<composite:attribute name="desaparecido" type="br.com.saip.model.Desaparecido"
		required="true" />

</composite:interface>

<composite:implementation>

	<h:form id="detalhesCadaver">
		<p:accordionPanel multiple="true">
			<p:tab title="Informações 1">
				<h:panelGrid columns="2">
					<h:outputText value="Indigente:" for="indigente" />
					<h:outputText
						value="#{cc.attrs.cadaver.indigente ? 'Sim' : 'Não'} " />
					<h:outputLabel value="Número de Identificação:" required="true" />
					<h:outputText id="numero"
						value="#{cc.attrs.cadaver.numero}">
						<f:convertNumber pattern="#,##0.00" maxFractionDigits="0" />
					</h:outputText>
					<h:outputLabel value="Sexo:" />
					<h:outputText value="#{cc.attrs.cadaver.sexo.label}" />
					<h:outputText value="Data Acidente:" for="dtAcidente" />
					<h:outputText value="#{cc.attrs.cadaver.dataAcidente}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<h:outputText value="Data Localização:" for="dtLocalizacao" />
					<h:outputText value="#{cc.attrs.cadaver.dataLocalizacao}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<h:outputText value="Data Óbito:" for="dtObito" />
					<h:outputText value="#{cc.attrs.cadaver.dataObito}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
				</h:panelGrid>
			</p:tab>
			<p:tab title="Informações 2">
				<h:panelGrid columns="2" id="infos2">
					<h:outputText value="Local Acidente:" for="localAcidente" />
					<h:outputText id="localAcidente"
						value="#{cc.attrs.cadaver.localAcidente}" />
					<h:outputText value="Tipo Acidente:" for="tpAcidente" />
					<h:outputText id="tpAcidente"
						value="#{cc.attrs.cadaver.tipoAcidente}" />
					<h:outputText value="Achados Adicionais:" for="achadosAdicionais" />
					<h:outputText id="achadosAdicionais"
						value="#{cc.attrs.cadaver.achadosAdicionais}" />
					<h:outputText value="Descrição Específica:" for="descEspecifica" />
					<h:outputText id="descEspecifica"
						value="#{cc.attrs.cadaver.descricaoEspecifica}" />
					<h:outputText value="Exames Adicionais:" for="examesAdicionais" />
					<h:outputText id="examesAdicionais"
						value="#{cc.attrs.cadaver.examesAdicionais}" />
					<h:outputText value="Idade Estimada:" for="idadeEstimada" />
					<h:outputText id="idadeEstimada"
						value="#{cc.attrs.cadaver.idadeEstimada}" />
					<h:outputText value="Método:" for="metodo" />
					<h:outputText id="metodo"
						value="#{cc.attrs.cadaver.metodo}" />
				</h:panelGrid>
			</p:tab>
			<p:tab title="Identificação"
				rendered="#{empty cc.attrs.cadaver ? false : not cc.attrs.cadaver.indigente}">
				<h:panelGrid columns="2">
					<h:outputText value="Nome:" for="nome" />
					<h:outputText id="nome" value="#{cc.attrs.cadaver.nome}"
						title="Nome" />
					<h:outputText value="CPF:" for="cpf" />
					<h:outputText id="cpf" value="#{cc.attrs.cadaver.CPF}" />
					<h:outputText value="RG:" for="rg" />
					<h:outputText id="rg" value="#{cc.attrs.cadaver.RG}" />
					<h:outputText value="Emissor:" for="emissor" />
					<h:outputText id="emissor"
						value="#{cc.attrs.cadaver.emissor}" title="Emissor" />
					<h:outputText value="Data de Nascimento:" for="dtNasc" />
					<h:outputText value="#{cc.attrs.cadaver.dataNascimento}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
				</h:panelGrid>
			</p:tab>
			<p:tab title="Endereço"
				rendered="#{empty cc.attrs.cadaver ? false : not cc.attrs.cadaver.indigente}">
				<h:panelGrid columns="2">
					<h:outputLabel value="Estado:" />
					<h:outputText id="estado"
						value="#{empty cc.attrs.cadaver.estado ? '' : cc.attrs.cadaver.estado.nome}" />
					<h:outputLabel value="Cidade:" />
					<h:outputText id="cidade"
						value="#{cc.attrs.cadaver.cidade}" title="Cidade"
						required="true" />
					<h:outputLabel value="Bairro:" />
					<h:outputText id="bairro"
						value="#{cc.attrs.cadaver.bairro}" title="Bairro"
						required="true" />
					<h:outputLabel value="Logradouro:" />
					<h:outputText id="logradouro"
						value="#{cc.attrs.cadaver.logradouro}"
						title="Logradouro" required="true" />
					<h:outputLabel value="Número" />
					<h:outputText id="numeroCasa"
						value="#{cc.attrs.cadaver.numeroCasa}">
						<f:convertNumber pattern="#,##0.00" maxFractionDigits="0" />
					</h:outputText>
					<h:outputLabel value="Complemento:" />
					<h:outputText id="complemento"
						value="#{cc.attrs.cadaver.complemento}"
						title="Complemento" />
				</h:panelGrid>
			</p:tab>
			<p:tab title="Fotos">

				<p:galleria var="f"
					value="#{fotoBean.getSetAsList(cc.attrs.cadaver.fotos)}"
					effect="slide" effectSpeed="100" panelHeight="350" panelWidth="350"
					transitionInterval="0" frameHeight="70" frameWidth="160"
					filmstripPosition="bottom" showOverlays="true">

					<p:graphicImage value="/temp/#{f.id}.jpg" cache="false" width="350"
						height="350" />
					<p:galleriaOverlay title="Descrição:">
						<h:outputText value="#{f.descricao}" />
					</p:galleriaOverlay>

				</p:galleria>
			</p:tab>
			<p:tab title="Odontograma">
				<saip:denticao este="#{cc.attrs.cadaver}"
					outro="#{cc.attrs.desaparecido}" />
			</p:tab>
		</p:accordionPanel>
	</h:form>
	
</composite:implementation>

</ui:composition>