<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>

	<composite:attribute name="dente" type="java.lang.Long" />
	<composite:attribute name="width" />
	<composite:attribute name="height" />

</composite:interface>

<composite:implementation>

	<p:commandLink
		action="#{odontogramaBean.prepararAlterarDente(cc.attrs.dente)}"
		update=":dialogDente" oncomplete="dlgDente.show()" immediate="false">
		<h:graphicImage
			library="#{odontogramaBean.getImagemDente(cc.attrs.dente)}"
			name="dente#{cc.attrs.dente}.jpg" width="#{cc.attrs.width}"
			height="#{cc.attrs.height}" id="dente#{cc.attrs.dente}" alt="" />
	</p:commandLink>

</composite:implementation>

</html>