<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>

	<composite:attribute name="este" type="br.com.saip.model.Pessoa"
		required="true" />

	<composite:attribute name="outro" type="br.com.saip.model.Pessoa"
		required="true" />

</composite:interface>

<composite:implementation>

	<h:form id="form">
		<p:tree value="#{denticaoBean.getNode(cc.attrs.este, cc.attrs.outro)}"
			var="node" id="item" selectionMode="">
			<p:treeNode icon="#{node.icon}" id="treeNode">
				<h:outputText value="#{node.descricao}" id="lblNode" />
			</p:treeNode>
		</p:tree>
	</h:form>

</composite:implementation>

</html>