<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:saip="http://java.sun.com/jsf/composite/saip"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>

	<composite:attribute name="cadaver" type="br.com.saip.model.Cadaver"
		required="true" />

	<composite:attribute name="desaparecido" type="br.com.saip.model.Desaparecido"
		required="true" />

</composite:interface>

<composite:implementation>

	<h:form id="detalhesDesaparecido">
		<p:accordionPanel multiple="true">
			<p:tab title="Identificação">
				<h:panelGrid columns="2" style="margin-bottom:10px">
					<h:outputLabel value="Número de Identificação:" required="true" />
					<h:outputText id="numero"
						value="#{cc.attrs.desaparecido.numero}">
						<f:convertNumber pattern="#,##0.00" maxFractionDigits="0" />
					</h:outputText>
					<h:outputLabel value="Sexo:" />
					<h:outputText value="#{cc.attrs.desaparecido.sexo.label}" />
					<h:outputLabel value="Nome:" />
					<h:outputText id="nome" value="#{cc.attrs.desaparecido.nome}"
						title="Nome" />
					<h:outputLabel value="CPF:" />
					<h:outputText id="cpf" value="#{cc.attrs.desaparecido.CPF}"
						title="CPF" />
					<h:outputLabel value="RG:" />
					<h:outputText id="rg" value="#{cc.attrs.desaparecido.RG}"
						title="RG" />
					<h:outputLabel value="Emissor:" />
					<h:outputText id="emissor"
						value="#{cc.attrs.desaparecido.emissor}" title="Emissor" />
					<h:outputLabel value="Data de Nascimento:" />
					<h:outputText id="dtNasc"
						value="#{cc.attrs.desaparecido.dataNascimento}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
				</h:panelGrid>
			</p:tab>
			<p:tab title="Endereço">
				<h:panelGrid columns="2">
					<h:outputLabel value="Estado:" />
					<h:outputText id="estado"
						value="#{cc.attrs.desaparecido.estado.nome}" />
					<h:outputLabel value="Cidade:" />
					<h:outputText id="cidade"
						value="#{cc.attrs.desaparecido.cidade}" title="Cidade"
						required="true" />
					<h:outputLabel value="Bairro:" />
					<h:outputText id="bairro"
						value="#{cc.attrs.desaparecido.bairro}" title="Bairro"
						required="true" />
					<h:outputLabel value="Logradouro:" />
					<h:outputText id="logradouro"
						value="#{cc.attrs.desaparecido.logradouro}"
						title="Logradouro" required="true" />
					<h:outputLabel value="Número" />
					<h:outputText id="numeroCasa"
						value="#{cc.attrs.desaparecido.numeroCasa}">
						<f:convertNumber pattern="#,##0.00" maxFractionDigits="0" />
					</h:outputText>
					<h:outputLabel value="Complemento:" />
					<h:outputText id="complemento"
						value="#{cc.attrs.desaparecido.complemento}"
						title="Complemento" />
				</h:panelGrid>
			</p:tab>
			<p:tab title="Outros">
				<h:panelGrid columns="2">
					<h:outputLabel value="Data de Desaparecimento:" />
					<h:outputText id="dtDesap"
						value="#{cc.attrs.desaparecido.dataDesaparecimento}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<h:outputLabel value="Dados Adicionais:" />
					<h:outputText id="adicionais"
						value="#{cc.attrs.desaparecido.dadosAdicionais}"
						title="Dados Adicionais" />
					<h:outputLabel value="Dados Específicos:" />
					<h:outputText id="especificos"
						value="#{cc.attrs.desaparecido.dadosEspecificos}"
						title="Dados Específicos" />
				</h:panelGrid>
			</p:tab>
			<p:tab title="Fotos">

				<p:galleria var="f"
					value="#{fotoBean.getSetAsList(cc.attrs.desaparecido.fotos)}"
					effect="slide" effectSpeed="100" panelHeight="350" panelWidth="350"
					frameHeight="70" frameWidth="160" filmstripPosition="bottom"
					showOverlays="true">

					<p:graphicImage value="/temp/#{f.id}.jpg" cache="false" width="350"
						height="350" />
					<p:galleriaOverlay title="Descrição:">
						<h:outputText value="#{f.descricao}" />
					</p:galleriaOverlay>

				</p:galleria>
			</p:tab>
			<p:tab title="Odontograma">
				<saip:denticao este="#{cc.attrs.desaparecido}"
					outro="#{cc.attrs.cadaver}" />
			</p:tab>
		</p:accordionPanel>
	</h:form>

</composite:implementation>

</ui:composition>