<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:saip="http://java.sun.com/jsf/composite/saip"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>

	<composite:attribute name="value" required="true" />

</composite:interface>

<composite:implementation>

	<p:inputMask id="cpf" value="#{cc.attrs.value}"
		title="CPF" mask="999.999.999-99" >
		<f:validator validatorId="CPFValidator" />
	</p:inputMask>

</composite:implementation>

</ui:composition>