<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:saip="http://java.sun.com/jsf/composite/saip">
<ui:composition template="/index.xhtml">
	<ui:define name="divMain">

		<h:form id="dados" prependId="false">
			<p:dataTable id="tabela"
				value="#{identificacaoBean.listaIdentificado}"
				filteredValue="#{identificacaoBean.filtro}" var="pessoa"
				emptyMessage="Não h&aacute; registros." draggableColumns="false"
				paginator="true" rows="10"
				currentPageReportTemplate="({currentPage} de {totalPages})"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

				<f:facet name="header">
					<h:outputText value="Identificado" />
				</f:facet>

				<p:columnGroup type="header">

					<p:row>
						<p:column colspan="2" headerText="Cad&aacute;ver" />
						<p:column colspan="2" headerText="Desaparecido" />
						<p:column rowspan="2" headerText="Op&ccedil;&otilde;es"/>
					</p:row>

					<p:row>
						<p:column headerText="N&uacute;mero" filterBy="#{pessoa.numero}" />
						<p:column headerText="Nome" filterBy="#{pessoa.nome}"
							filterStyle="width: 90%;" filterMatchMode="contains" />
						<p:column headerText="N&uacute;mero" filterBy="#{pessoa.encontrado.numero}" />
						<p:column headerText="Nome" filterBy="#{pessoa.encontrado.nome}"
							filterStyle="width: 90%;" filterMatchMode="contains" />
					</p:row>
				</p:columnGroup>

				<p:column>
					<h:outputText value="#{pessoa.numero}" />
				</p:column>

				<p:column>
					<h:outputText value="#{pessoa.nome}" />
				</p:column>

				<p:column>
					<h:outputText value="#{pessoa.encontrado.numero}" />
				</p:column>

				<p:column>
					<h:outputText value="#{pessoa.encontrado.nome}" />
				</p:column>

				<p:column
					style="width: 150px; margin-left: auto; margin-right: auto;">
					<f:facet name="header">
						<h:outputText value="Op&ccedil;&otilde;es" />
					</f:facet>
					<p:commandButton value="Liberar..." ajax="false" immediate="false"
						action="compara.xhtml" icon="ui-icon-extlink">
						<f:setPropertyActionListener value="#{pessoa}"
							target="#{identificacaoBean.pessoa}" />
						<f:setPropertyActionListener value="#{pessoa.encontrado}"
							target="#{identificacaoBean.possivel}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>

	</ui:define>
</ui:composition>
</html>